* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px dotted; */
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.square {
  width: 200px;
  height: 200px;
  background: orange;
}

@keyframes wipe-enter {
  0% {
    transform: translate(0vw, 0);
  }
  100% {
    transform: translate(45vw, 0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation {
    animation-name: wipe-enter;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}

.spacing {
  height: 250vw;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

/* vvvv-----------------  ANIMATION ON SCROLL -----------------------vvvv */
.loui {
  width: 100%;
  grid-column: 6/-1;
  z-index: 0;
}
.video {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  background-color: lightgrey;
}

.colorsquare {
  height: 20vw;
  background-color: yellow;
}
.square-wrapper {
  grid-column: 1/5;
  z-index: 1;
  align-self: center;
}
.loui,
.square-wrapper {
  grid-row: 1/2;
}

/* ^^^^-----------------  ANIMATION ON SCROL -----------------------^^^^ */

/* vvvv-----------------  NAVBAR SILFEN -----------------------vvvv */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
nav ul {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
  align-self: center;
}
ul li {
  list-style: none;
}
li a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
li a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

li a:hover {
  border-bottom: 1px black solid;
}
.icons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
#basket,
#heart,
#search,
#login {
  margin-right: 1.8vw;
}
.logo {
  justify-self: center;
}
.logo img {
  height: 24px;
  margin-top: 1.3vw;
  margin-bottom: 1.3vw;
}
#basket {
  height: 18px;
  width: 18px;
  margin-right: 3vw;
}

#search {
  height: 18px;
  width: 18px;
}
#login {
  height: 18px;
  width: 18px;
}

#heart {
  height: 18px;
  width: 18px;
}
.shipping {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  margin-right: 3vw;
}
/*------------------TEXT CARUSEL----------------------------------- */
.bluebar {
  height: 34px;
  background-color: #85b4d7;
  padding-left: 2vw;
  position: relative;
}

.textcarusel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.rotatingText-adjective1 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective2 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective3 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}
.rotatingText-adjective4 {
  position: absolute;
  left: 0.2;
  top: 20%;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 0.8rem;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  20%,
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
}
.rot1 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 0.5s;
}

.rot2 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 4.25s;
}

.rot3 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 8s;
}
.rot4 {
  animation-name: rotate;
  animation-duration: 4s;
  animation-delay: 11.75s;
}

/* @keyframes textcarusel {
  0% {
    transform: translate(-0vw, 0);
  }
  20% {
    transform: translate(-45vw, 0);
  }
  40% {
    transform: translate(-65vw, 0);
  }
  60% {
    transform: translate(-85vw, 0);
  }
  80% {
    transform: translate(-95vw, 0);
  }
  90% {
    transform: translate(-105vw, 0);
  }
  100% {
    transform: translate(-105vw, 0);
  }
} */

@media (prefers-reduced-motion: no-preference) {
  .textanimation {
    animation-name: textcarusel;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
}
